<div class='row'>
  <div class = 'col-2 pt-2'>
    <%= link_to 'Back', root_path, :class => 'btn btn-outline-dark' %>
  </div>
  <div class = 'col-8'>
    <p class='search-headers'><strong>Editing Event</strong></p>
  </div>
</div>

<%= render 'form', event: @event %>
