    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner">
        <div class="carousel-item active" style="text-align: center">
            MEETING AT PORT COQUITLAM
        </div>
        <div class="carousel-item" style="text-align: center">
            SLIDESHOW MEETING
        </div>
        <div class="carousel-item" style="text-align: center">
            WHATEVER MEETING
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>

<div class="row">
    <div class="col-md-4">
        <h1>Current Teams</h1>
        <ul>
            <li id="team-1">Team 1</li>
                <p id="team-members" class="hide">abcdefg</p>
            <li>Team 2</li>
            <li>Team 3</li>
            <li>Team 4</li>
        </ul>
    </div>
    
    <div class="col-md-4">

    </div>

    <div class="col-md-4">
        Briefings

        <div class="col-md-6">
            <h2>Important Documents</h2>
            <ul>
                <li>Campaign Overview</li>
                <li>Canvas Petition</li>
                <li>Fact Sheet</li>
                <li>Brochure</li>
                <li>Training</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Your Team's Folder</h2>
            <ul>
                <li>Port Moody Research Folder</li>
                <li>Data Log Folders</li>
                <li></li>
            </ul>
        </div>

    </div>
</div>