<p>Hello <%= @guest.first_name %>,</p>

<p> Thank you for signing up for <%= @event.name %> </p>
<p> Unfortunately the event has been canceled due to unforeseen circumstances by the team leader, <%= @event.user.first_name %>. </p>

<p>Regards,</p>
<p>ForceOfNature Team</p>
