<p>Hello <%= @user.first_name %>,</p>
<p>
  Your event, <%= @event.name %> is coming up on <%= @event.start_time %>.
</p>
<p>
  The event will be held at <%= @event.location %>
</p>

<p>Regards,</p>
<p>ForceOfNature Team</p>
