/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import "bootstrap";



#new_event_btn {
  margin-left: 5px;
  margin-right: 5px;
}

#dashboard_btn {
  margin-right: 10px;
}

 .simple-calendar {
   .day {
     width: 200px;
     height: 16vh;
     border: 1px solid rgba(100, 100, 100, 0.5);
   }

   .wday-0 {}
   .wday-1 {}
   .wday-2 {}
   .wday-3 {}
   .wday-4 {}
   .wday-5 {}
   .wday-6 {}
   .today {
     font-weight: bold;
     background-color: rgba(93, 225, 239, 0.5);
   }

   .past {}
   .future {}

   .start-date {}

   .prev-month {
     background-color: rgba(120, 120, 120, 1);
   }
   .next-month {
     background-color: rgba(120, 120, 120, 1);
   }
   .current-month {}

   .has-events {}
 }

 .hide {
   display: none;
 }

 .event-button {
   border-radius: 5px;
   background-color: rgba(93, 225, 239, 0.9);
   color: black;
   border: none;
   transition: 0.25s;
 }

 .event-button:hover {
   color: white;
   background-color: rgba(34, 106, 114, 0.9);
 }

 .modal-lg {
   width: 80%;
 }

 .navbar{
   background-color: rgba(93, 225, 239, 0.9);
 }

 .nav-link{
   color: rgba(140, 140, 140, 1);
 }

 .nav-link:hover{
   color: rgba(220, 220, 220, 1);
 }

 .calendar-heading{
   text-align: center;
   margin-top: 20px;
 }

.week_name{
  text-align: center;
}

.calendar-heading .calendar-title{
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.subsection{
  text-align: center;
}

.add-event{
  text-align: center;
}

.btn-outline-success{
  border: none;
}

.btn-outline-success:hover{
  background-color: none;
}

.btn-outline-success{
  background-color: none;
  border: none;
}

.cal-btn{
  border: none;
  background-color: transparent;
}

.subsection{
  text-align: center;
}

// Modal Stuff

// .modal {
//   width: 75% !important;
//   height: 75% !important;
// }

.event-information{
  border-right: thin rgba(200, 200, 200, 0.5) solid;
}

.event-information > p{
  font-weight: normal;
}

.group-members{
  height: 80%;
  border: thin rgba(200, 200, 200, 0.5) solid;
}

.group-heading{
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  height: 40px;
  border-bottom: thin rgba(200, 200, 200, 0.5) solid;
}

.d3-2{
    height: 75%;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 50px;
    width: 90%;
    position: absolute;
    top: 0;
    font-weight: normal;
}

.d4
{
  position: relative;
  max-height: 100%;
  overflow: auto;
}

.d5 {
  padding-left: 10px;
    height:3000px
}

.btn-outline-dark {
  border-color: rgba(93, 225, 239, 0.9);
  background-color: rgba(93, 225, 239, 0.9);
  color: black;
}

.btn-outline-dark:hover {
  border-color: rgba(34, 106, 114, 0.9);
  background-color: rgba(34, 106, 114, 0.9);
}
 .hide {
   display: none;
 }
.hide {
  display: none;
}
